@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .promo {
        
        &__wrapper {
            align-items: center;
        }
    }
    .header {
        padding: 0 10px 0 10px;
    }

    .benefits {

        &__items {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
    }

    .consultation {
    
        &__descr {
            text-align: center;
            font-size: 18px;
            
        }
        &__form {
            margin: 36px auto;
        }
    }

    .title {
        font-size: 30px;
        text-align: center;
    }

    .carousel {
        &__inner {
            .slick-dots {
                
                display: flex;
                justify-content: center;
                list-style-type: none;
                padding-left: 0;
                gap: 10px;

                li > button {
                    background-color: $white;
                    width: 50px;
                    height: 30px;
                    border: 3px solid $gray-border;
                    transform: skewX(-20deg);
                    transition: 300ms all;
                    font-size: 0;

                    &:hover {
                        box-shadow: 2px 2px 10px $main-color;
                        border: none;
                        background-color: $main-color;
                    }
                    
                }
            }
        }
    }
    

    .catalog {
        
        padding-left: 20px;
        padding-right: 20px;
        &__tabs {
            flex-wrap: wrap;
        }

        &__content {
            gap: 20px;
            justify-content: center;
            flex-wrap: wrap;
            &_active {
                display: flex;
            }
        }
    }

    .review {
        padding-left: 20px;
        padding-right: 20px;
        img {
            width: 85px;
            height: 85px;   
        }
        &__clients {
            gap: 30px;
        }
        &__client {
            gap: 30px;
        }
    }

}

@media (max-width: 767px) {
    .title {
        font-size: 25px; 
        line-height: 30px; 
    }

    .promo {
        background: url(../img/main-bg.jpg) right (center/cover) no-repeat !important;

        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 20px;
        }
    }

    .header {
        
        display: grid;
        
        &__logo {
            grid-column: 1; 
        } 

        &__contacts {
            grid-row: 1;
            grid-column: 2;
            
            margin: 0 auto;
        }

        &__official {
            grid-column: span 2;
            margin-top: 40px;
        }
    }

    .carousel {
        &__inner {
            width: 500px;
        }
    }

    
}

@media (max-width: 575px) {
    .promo {

        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 15px;
        }

        &__icons {
            flex-wrap: wrap;
            gap: 10px;
        }
        &__icon {
            width: 48%;
            margin: 0 auto;

        }

    }

    .header {
        padding: 0;
        display: flex;
        flex-direction: column;

        &__contacts {
            display: none;
        }

        &__official {
            margin-top: 20px;
        }
    }

    .carousel {
        &__inner {
            width: 400px;
        }
    }

    .review {
        &__client {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            text-align: center;
        }
        &__text {
            width: 300px;
            text-align: center;
        }
    }
}

@media (max-width: 425px) {
    .promo {

        &__icons {
            flex-direction: column;
            width: 300px;
        }
        &__icon {
            
            margin: 0 auto;

        }
    }
    .carousel {
        &__inner {
            width: 300px;
        }
    }
}






