$main-color: #C70101;
$benefits-bg: #F6F6F6;
$title-color: #0D0D0D;
$black-price: #050505;
$link-color: #F00;
$white-text-color: #FFF;
$white: #FFF;
$gray-text: #4B4B4B;
$gray-price: #555;
$grau-subtitle: #646464;
$gray-border: #E8E8E8;







