.benefits {
    background-color: $benefits-bg;
    padding: 70px 0 65px 0;

    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        
        
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 273px;
    }
    &__img {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__title {
        text-align: center;
        margin-bottom: 20px;
        color: $title-color;
        font-size: 18px;
        font-weight: 700;
    }
    &__text {
        text-align: center;
        color: #0D0D0D;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px; 
    }
    &__link {
        color: $link-color;
    }
}

















